<div class="container">
  <h1 class="text-center">My tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
    <li class="text-decoration-none list-group-item">
       <% if task.completed == true %>
          <img src="https://img.icons8.com/metro/26/000000/checked-checkbox.png">
        <% else %>
          <img src="https://img.icons8.com/metro/26/000000/unchecked-checkbox.png">
        <% end %> |
       <%= link_to task_path( task['id'] ) do %>
       <%= task.title %>
       <% end %>  |
       <%= link_to task_path(task),
        method: :delete,
        data: { confirm: "Are you sure to delete this task?" } do %>
        <img src="https://img.icons8.com/windows/50/000000/delete-forever.png" width="20">
        <% end %>
    </li>
    <% end %>
  </ul>
  <div class="d-flex justify-content-center">
  <%= link_to '+ create a new task', tasks_new_path, :class=>"btn btn-primary" %>
  </div>
</div>

